.card {
    height: 150px;
    width: 150px;
    margin: 20px;
}

#card-set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    object-fit: cover;
    width: 150px;
    height: 150px;
}